
    <div class="container app-containter">
        {{> headers/headerAdmin}}
        <section class="account">
            <h1>Quản lý tài khoản</h1>
            <div class="tabs5">
                <a href="/admin/home" class="tab-item">Chờ </a>
                <a href="/admin/account_xm" class="tab-item">Đã kích hoạt</a>
                <a href="/admin/account_h" class="tab-item">Vô hiệu hóa</a>
                <a href="/admin/account_bs" class="tab-item active">Khóa</a>
            </div>
            <div class="table">
                <div class="table__header">
                    <span>
                        Tên
                    </span>
                    <span>
                        Số điện thoại
                    </span>
                    <span>
                        Email
                    </span>
                    <span>
                        Ngày Sinh
                    </span>
                    <span>
                        Hành động
                    </span>
                </div>
                <div class="table__list">
                    {{#each account}}
                    <div class="table__item viewAccount" data-id="{{_id}}" data-username="{{username}}" data-name="{{name}}" data-email="{{email}}" data-phone="{{phone}}" data-date="{{date}}" data-address="{{address}}" data-before="{{before}}" data-after="{{after}}">
                        <span>{{phone}}</span>
                        <span>{{name}}</span>
                        <span>{{email}}</span>
                        <span>{{date}}</span>
                        <span><button class="btn btn-outline-success mk" data-id="{{_id}}" data-username="{{username}}">Mở Khóa</button></span>
                    </div>
                    {{/each}}
                </div>
            </div>

        </section>

        <div class="modal fade" id="change-pass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu tài khoản</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="banking-form" action="">
                            <div class="form-group">
                                <label for="" class="form-label">Mật khẩu cũ</label>
                                <input type="password" class="form-input" placeholder="Current password">
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">Mật khẩu mới</label>
                                <input type="password" class="form-input" placeholder="New password">
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">Xác nhận mật khẩu</label>
                                <input type="password" class="form-input" placeholder="Confirm password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="view-account" class="modal fade" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View Account</h5>
                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                </div>
                <div class="modal-body">
                    <section class="profile">
                        <div class="profile-content">
                            <div class="profile-group">
                                <div class="profile-item"><strong> Username:</strong> <span id="username_acc_view"></span> </div>
                                <div class="profile-item"><strong> Tên:</strong> <span id="name_acc_view"></span> </div>
                                <div class="profile-item"><strong> Số điện thoại:</strong> <span id="phone_acc_view"></span> </div>
                                <div class="profile-item"><strong> Email:</strong> <span id="email_acc_view"></span> </div>
                                <div class="profile-item"><strong> Địa chỉ:</strong> <span id="address_acc_view"></span> </div>
                                <div class="profile-item"><strong> Ngày sinh:</strong> <span id="date_acc_view"></span> </div>
                                <p>mặt trước CMND</p>
                                <img src="/images/cmnd.png" alt="" id="before_acc_view">
                                <p>mặt sau CMND</p>
                                <img src="/images/cmnd.png" alt="" id="after_acc_view">
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <div type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</div>
                </div>
            </div>
        </div>
    </div>

    <div id="change-status-account-mk" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Mở khóa tài khoản</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Bạn có chắc rằng muốn mở khóa tài khoản <strong id="account-name-mk"></strong>?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type= "hidden" name="username_block" id="useranme_block" value="">
                    <button data-id= "???" id="btn-mk-confirm" type="button" class="btn btn-primary">Đồng ý</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
  </div>
